.singleReview {
  border: 0.2px solid grey;
  width: 70%;
  margin-bottom: 20px;
}

.reviewBox {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  display: flex;
  padding: 18px;
  border: 0.5px solid lightgrey;
  border-radius: 5px;
  margin: 20px 20px 0 20px;
  width: 85%;
}
textarea {
  margin-top: 15px;
  width: 500px;
  height: 80px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #615555;
  font-size: 16px;
  resize: none;
  font-weight: bold;
}
